    .section__panel {
        overflow: hidden;
    }
    /* --------- One About Me ---------- */
    
    .content_about {
        position: relative;
        animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
        width: 70%;
        margin-top: 200px;
        @include MediaQuery(600px) {
            width: 100%;
            margin-top: 140px;
        }
    }
    
    .card_about {
        width: 100%;
        min-height: 100px;
        padding: 20px;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
    }
    
    .card_about:after {
        content: "";
        display: block;
        width: 190px;
        height: 300px;
        background: $skyblue;
        position: absolute;
        animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
    }
    
    .badgescard {
        width: 90%;
        padding: 10px 20px;
        border-radius: 3px;
        background-color: #ECECEC;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: -1;
        left: 10px;
        bottom: 10px;
        animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
        @include MediaQuery(600px) {
            display: none;
        }
    }
    
    .contectMe span {
        font-size: 1.6em;
        margin: 0px 6px;
        opacity: 0.6;
    }
    
    .badgescard span {
        font-size: 1.6em;
        margin: 0px 6px;
        opacity: 0.6;
        color: black;
    }
    
    .firstinfo {
        display: flex;
        flex-direction: row;
        z-index: 2;
        position: relative;
        @include MediaQuery(600px) {
            display: flex;
            flex-direction: column;
            z-index: 2;
            position: relative;
        }
    }
    
    .firstinfo img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    
    .firstinfo .profileinfo {
        padding: 0px 20px;
        @include MediaQuery(600px) {
            font-size: 13px !important;
            font-weight: 800 !important;
        }
    }
    
    .firstinfo .profileinfo h1 {
        font-size: 1.8em;
    }
    
    .firstinfo .profileinfo h3 {
        font-size: 1.2em;
        color: $skyblue;
        font-style: italic;
        @include MediaQuery(600px) {
            margin-right: auto;
            text-align: end !important;
        }
    }
    
    .firstinfo .profileinfo div.bio {
        padding: 10px 0px;
        color: #5A5A5A;
        line-height: 1.2;
        font-style: initial;
    }
    
    @keyframes animatop {
        0% {
            opacity: 0;
            bottom: -500px;
        }
        100% {
            opacity: 1;
            bottom: 0px;
        }
    }
    
    @keyframes animainfos {
        0% {
            bottom: 10px;
        }
        100% {
            bottom: -42px;
        }
    }
    
    @keyframes rotatemagic {
        0% {
            opacity: 0;
            transform: rotate(0deg);
            top: -24px;
            left: -253px;
        }
        100% {
            transform: rotate(-30deg);
            top: -24px;
            left: -78px;
        }
    }
    
    .icone {
        font-size: 5rem;
    }
    /* --------- Card_box Animation ---------- */
    
    .card_box:not(:empty):hover,
    .card_box:not(:empty):focus {
        z-index: 1;
        color: #fff;
        background: #ea124f;
        opacity: 1;
        transform: scale(1.15) rotateZ(20deg);
        cursor: pointer;
    }
    
    .card_box:not(:empty):hover:after,
    .card_box:not(:empty):focus:after {
        opacity: 1;
    }
    
    .card_box:not(:empty):hover:before,
    .card_box:not(:empty):focus:before {
        opacity: 0;
    }
    
    .card_box {
        padding: 10px;
        background: $skyblue;
        border-radius: 0.7em;
        opacity: 0.6;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
        transition-property: background, transform, color, opacity;
        font-size: 16px;
    }
    
    .card_box:not(:empty):before {
        box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    }
    
    .card_box:empty {
        opacity: 0.3;
    }
    
    .card_box:before, // .card_box:after {
    //     content: "";
    //     position: absolute;
    //     border-radius: 0.7em;
    //     z-index: -1;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    // }
    // .card_box:after {
    //     box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
    //     opacity: 0;
    // }
    /* --------- Grid ---------- */
    
    .grid {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
    
    .item1 {
        grid-area: 1/1/3/3;
    }
    
    .item2 {
        grid-area: 3/3/4/4;
    }
    
    .item2.card_box:hover,
    .item2.card_box:focus {
        background: #00005c;
    }
    
    .item3 {
        grid-area: 4/1/5/4;
    }
    
    .item4 {
        grid-area: 1/3/2/5;
    }
    
    .item5 {
        grid-area: 2/4/3/5;
    }
    
    .item6 {
        grid-area: 3/4/4/5;
    }
    
    .item7 {
        grid-area: 3/4/5/5;
    }
    
    .item8 {
        grid-area: 1/5/2/6;
    }
    
    .item8.card_box:hover,
    .item8.card_box:focus {
        background: #f57b51;
    }
    
    .item9 {
        grid-area: 2/5/3/6;
    }
    
    .item10 {
        grid-area: 3/5/4/6;
    }
    
    .item11 {
        grid-area: 4/5/5/6;
    }
    
    .item11.card_box:hover,
    .item11.card_box:focus {
        background: #00a8cc;
    }
    
    .content_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* --------- time line ---------- */
    /* The actual timeline (the vertical ruler) */
    
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* The actual timeline (the vertical ruler) */
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    /* Container around content */
    
    .container_timeLine {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
    }
    /* The circles on the timeline */
    
    .container_timeLine::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    /* Place the container_timeLine to the left */
    
    .left {
        left: -50%;
    }
    /* Place the container to the right */
    
    .right {
        left: 50%;
    }
    /* Add arrows to the left container_timeLine (pointing right) */
    
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
    /* Add arrows to the right container_timeLine (pointing left) */
    
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Fix the circle for container_timeLines on the right side */
    
    .right::after {
        left: -16px;
    }
    /* The actual content */
    
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        color: #000;
    }
    
    .content>* {
        margin: 0;
    }
    
    .content h4 {
        color: #222;
    }
    
    .content h5 {
        color: rgb(77, 72, 72);
        margin-bottom: 3px;
    }
    /* --------- Responsive ---------- */
    
    @include MediaQuery(600px) {
        .item4 {
            font-size: 14px;
        }
        .item8 {
            font-size: 14px;
        }
        .grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, minmax(auto, 300px));
            overflow-y: scroll;
        }
        .item1 {
            grid-area: 1/1/2/3;
        }
        .card_box {
            grid-area: auto;
            font-size: 14px;
            text-align: left;
        }
        .card_box:empty {
            display: none;
        }
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
        /* Full-width container_timeLines */
        .container_timeLine {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        /* Make sure that all arrows are pointing leftwards */
        .container_timeLine::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 15px;
        }
        /* Make all right containers behave like the left ones */
        .right {
            left: 0% !important;
        }
        .left {
            left: 0%;
        }
        .content p {
            font-size: 12px;
        }
        .content h4 {
            font-size: 16px;
        }
    }