%ring {
    mix-blend-mode: difference;
    position: absolute;
}

.section__intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sarmadi__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center 15%;
    object-position: center 15%;
}

.js__ring__left {
    @extend %ring;
    font-size: 6rem;
    left: 0%;
    @include MediaQuery($md) {
        left: 0%;
        top: 20%;
        font-size: 4rem;
    }
    @include MediaQuery(600px) {
        display: none;
    }
}

.js__ring__right {
    @extend %ring;
    right: 100px;
    bottom: 70px;
    font-size: 10rem;
    @include MediaQuery($md) {
        right: 0%;
        bottom: 40%;
        font-size: 7rem;
    }
    @include MediaQuery(600px) {
        display: none;
    }
}

.react__ring__right {
    @extend %ring;
    enable-background: new 0 0 600 600;
    left: 10%;
    bottom: 15%;
    background-blend-mode: multiply;
    font-size: 10rem;
    @include MediaQuery($md) {
        bottom: 40%;
        left: 0;
        font-size: 8rem;
    }
    @include MediaQuery(600px) {
        display: none;
    }
}

.react__ring__left {
    @extend %ring;
    font-size: 10rem;
    right: 200px;
    top: 200px;
    @include MediaQuery($md) {
        right: 0;
        top: 10%;
        font-size: 8rem;
    }
    @include MediaQuery(600px) {
        display: none;
    }
}

.sarmadi__title {
    letter-spacing: -0.0125em;
    font-weight: 600;
    font-size: 50px;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
    margin: 0;
    @include MediaQuery($md) {
        @include FontSize(25px, 500);
    }
    @include MediaQuery(600px) {
        @include FontSize(20px, 600);
    }
}

.sarmadi__title__2 {
    color: $gold;
    margin-top: 0;
    mix-blend-mode: difference;
}

.sarmadi__title__1 {
    color: $skyblue;
    margin-top: 0;
    /* margin-bottom: 1.5rem; */
    mix-blend-mode: difference;
}